<html>
  <head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Django操作数据库原生SQL初体验 | zhangxiong</title>
<meta name="description" content="道阻且长,行则将至." />
<link rel="shortcut icon" href="https://xiong-zh.github.io/favicon.ico?v=1586150151157">
<link href="https://cdn.remixicon.com/releases/v1.3.1/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700">

<link rel="stylesheet" href="https://xiong-zh.github.io/styles/main.css">
<link rel="alternate" type="application/atom+xml" title="Django操作数据库原生SQL初体验 | zhangxiong - Atom Feed" href="https://xiong-zh.github.io/atom.xml">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700">


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156420077-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156420077-1');
</script>


  </head>
  <body>
    <div class="site-nav has-cover">
      <div class="head">
  <div class="inner">
    <a class="site-name" href="https://xiong-zh.github.io">
        <span>zhangxiong</span>
    </a>
    <label class="burger" for="burger"></label>
    <input id="burger" type="checkbox">
    <button class="burger">
      <div>
        <span></span>
        <span></span>
      </div>
    </button>
    <nav class="info_nav">
      
        
          <a href="/">回到首页</a>
        
      
        
          <a href="/archives">文章归档</a>
        
      
        
          <a href="/tags">所有标签</a>
        
      
        
          <a href="/documents/" target="_blank">后端图谱</a>
        
      
        
          <a href="/friends/">友情链接</a>
        
      
        
          <a href="/about">关于</a>
        
      
    </nav>
  </div>
</div>
    </div>
    <article role="main" class="hentry has-cover">
      
        <div class="entry-cover js-cover" data-src="http://picture.zhangxiong.net/images/blog_picture/cover/046.jpg" data-width="900" data-height="423" style="background-image:url(http://picture.zhangxiong.net/images/blog_picture/cover/046.jpg); height: 80vw;">
          <h1 class="post-title">Django操作数据库原生SQL初体验</h1>
        </div>
      
      <h1 class="entry-title" itemprop="headline">Django操作数据库原生SQL初体验</h1>
      <div class="entry-meta">
        <time class="updated" datetime="2020-01-18 21:00:51">2020-01-18</time>
        <span class="author vcard">
          11 min read
        </span>
      </div>
      <div class="post-content yue">
        <p>Django - Django 操作数据库-原生SQL初体验</p>
<!-- more -->
<h2 id="一-安装-mysqlclient">一、安装 <code>mysqlclient</code></h2>
<pre><code>pip install mysqlclient
</code></pre>
<h2 id="二-配置连接数据库">二、 配置连接数据库</h2>
<p><code>mysite/settings.py</code></p>
<pre><code>DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        # 数据库名
        'NAME': 'django_db1',
        'USER': 'root',
        'PASSWORD': '123456',
        'HOST': '127.0.0.1',
        'PORT': '3306',
    }
}
</code></pre>
<h2 id="三-使用原生-sql-操作数据库">三、使用原生 <code>sql</code> 操作数据库</h2>
<ul>
<li>
<p>使用 <code>navicat</code> 新建数据库 <code>django_db1</code></p>
</li>
<li>
<p>在数据库 <code>django_db1</code> 新建表 <code>book</code></p>
</li>
<li>
<p>新增数据：</p>
<p><code>front/views.py</code></p>
</li>
</ul>
<pre><code>from django.shortcuts import render
from django.db import connection
def index(request):
      cursor = connection.cursor()
      cursor.execute(&quot;insert into book(title,author) values('深入理解ES6', '尼古拉斯')&quot;)
      return render(request, 'front/index.html')
</code></pre>
<ul>
<li>
<p>浏览器访问： <code>localhost:8000</code>, 便会新增一条数据</p>
</li>
<li>
<p>查询数据</p>
<p><code>front/views.py</code></p>
</li>
</ul>
<pre><code>    def index(request):
    cursor = connection.cursor()
    cursor.execute(&quot;select * from book&quot;)
    # 查询一条数据
    # row = cursor.fetchone()
    # 指定查询的条数
    # rows = cursor.fetchmany(2)
    # 查询所有数据
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    return render(request, 'front/index.html')
</code></pre>
<h2 id="四-python-db-api下-cursor对象常用接口">四、<code>Python DB API</code>下 <code>cursor</code>对象，常用接口</h2>
<ul>
<li>
<p><code>description</code></p>
<p>执行 <code>cursor.execute</code>后，可通过 <code>cursor.description</code> 查看字段信息</p>
<p><code>front/views.py</code></p>
</li>
</ul>
<pre><code>    def index(request):
    cursor = connection.cursor()
    cursor.execute(&quot;select * from book&quot;)
    # (('id', 3, 1, 11, 11, 0, 0), ('title', 253, 15, 765, 765, 0, 0), ('author', 253, 12, 765, 765, 0, 0))
    print(cursor.description)
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    return render(request, 'front/index.html')
</code></pre>
<ul>
<li>
<p><code>rowcount</code></p>
<p>执行 <code>sql</code> 删除，新增，修改时，返回受影响的条数， 查询时，返回查询数据的条数</p>
<p><code>front/views.py</code></p>
</li>
</ul>
<pre><code>    def index(request):
    cursor = connection.cursor()
    cursor.execute(&quot;delete from book where id=2&quot;)
    # 1
    print(cursor.rowcount)
    return render(request, 'front/index.html')
</code></pre>
<ul>
<li>
<p><code>close</code></p>
<p>关闭游标</p>
</li>
</ul>
<pre><code>   cursor.close()
</code></pre>
<ul>
<li>
<p><code>execute</code></p>
<p>用于执行 <code>sql</code> 语句， 还可以传递参数</p>
</li>
</ul>
<pre><code> cursor.execute('select * from book where id=%s', (1,))
</code></pre>
<ul>
<li><code>fetchone</code></li>
<li><code>fetchmany</code></li>
<li><code>fetchall</code></li>
</ul>
<pre><code>    # 查询一条数据
    row = cursor.fetchone()
    # 指定查询的条数
    rows = cursor.fetchmany(2)
    # 查询所有数据
    rows = cursor.fetchall()
</code></pre>
<h2 id="五-图书管理系统案例">五、图书管理系统案例</h2>
<ul>
<li>进入虚拟环境</li>
</ul>
<pre><code>   workon myenv
</code></pre>
<ul>
<li>创建一个新的项目</li>
</ul>
<pre><code>    django-admin startproject book_manager
</code></pre>
<ul>
<li>创建 <code>front</code> 应用</li>
</ul>
<pre><code>    cd book_manager
    python manage.py startapp front
</code></pre>
<ul>
<li>配置将 <code>front</code> 应用，注册到已安装应用<br>
<code>book_manager/setting.py</code></li>
</ul>
<pre><code>    INSTALLED_APPS = [
        'front',
    ]
</code></pre>
<hr>
<ol>
<li>
<p>使用 <code>Navicat</code> 创建数据库 <code>book_manager</code></p>
</li>
<li>
<p>创建表 <code>book</code>, 三个字段： <code>id</code>、 <code>title</code>、 <code>author</code></p>
</li>
<li>
<p>配置数据库连接<br>
<code>book_manager/settings.py</code></p>
</li>
</ol>
<pre><code>    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.mysql',
            # 数据库名
            'NAME': 'book_manager',
            'USER': 'root',
            'PASSWORD': '123456',
            'HOST': '127.0.0.1',
            'PORT': '3306',
        }
    }
</code></pre>
<ol start="4">
<li>
<p>配置路由</p>
<p><code>book_manager/urls.py</code></p>
</li>
</ol>
<pre><code>    from django.urls import path, include

    urlpatterns = [
        path('', include('front.urls')),
    ]
</code></pre>
<pre><code>`front/urls.py`
</code></pre>
<pre><code>    from django.urls import path
    from . import views

    app_name = 'front'

    urlpatterns = [
        path('', views.index, name='index'),
        path('create/', views.create_book, name='create'),
        path('detail/&lt;int:book_id&gt;', views.book_detail, name='detail'),
        path('delete/&lt;int:book_id&gt;', views.book_delete, name='delete'),
        path('edit/&lt;int:book_id&gt;', views.book_edit, name='edit'),
    ]
</code></pre>
<ol start="5">
<li>
<p>编写视图函数</p>
<p><code>front/views.py</code></p>
</li>
</ol>
<pre><code>    from django.shortcuts import render, reverse, redirect
    from django.db import connection


    # 获取操作数据库锚点
    def get_cursor():
        return connection.cursor()

    # 首页，展示所有图书
    def index(request):
        cursor = get_cursor()
        cursor.execute('select * from book')
        keys = [item[0] for item in cursor.description]
        books = [dict(zip(keys, values)) for values in cursor.fetchall()]
        cursor.close()
        return render(request, 'front/index.html', context={&quot;books&quot;: books})

    # 新增图书
    def create_book(request):
        if request.method == 'POST':
            title = request.POST.get('title')
            author = request.POST.get('author')
            cursor = get_cursor()
            cursor.execute('insert into book(title, author) values(%s, %s)', (title, author))
            cursor.close()
            return redirect(reverse('front:index'))
        else:
            return render(request, 'front/create.html')

    # 图书详情
    def book_detail(request, book_id):
        cursor = get_cursor()
        cursor.execute('select * from book where id=%s', (book_id,))
        keys = [item[0] for item in cursor.description]
        book = dict(zip(keys, cursor.fetchone()))
        cursor.close()
        return render(request, 'front/detail.html', context={&quot;book&quot;: book})

    # 删除图书
    def book_delete(request, book_id):
        cursor = get_cursor()
        cursor.execute('delete from book where id=%s', (book_id,))
        cursor.close()
        return redirect(reverse('front:index'))

    # 编辑图书
    def book_edit(request, book_id):
        cursor = get_cursor()
        if request.method == 'GET':
            cursor.execute('select * from book where id=%s', (book_id,))
            keys = [item[0] for item in cursor.description]
            book = dict(zip(keys, cursor.fetchone()))
            cursor.close()
            return render(request, 'front/edit.html', context={&quot;book&quot;: book})
        else:
            title = request.POST.get('title')
            author = request.POST.get('author')
            cursor.execute('update book set title=%s, author=%s where id=%s', (title, author, book_id))
            cursor.close()
            return redirect(reverse('front:index'))
</code></pre>
<ol start="6">
<li>将 <code>static</code> 注册为模板标签<br>
<code>book_manager/settings.py</code></li>
</ol>
<pre><code>    TEMPLATES = [
        {
            'OPTIONS': {
                'builtins': [
                    'django.templatetags.static'
                ],
            },
        },
    ]
</code></pre>
<ol start="7">
<li>关闭表单 <code>csrf</code> 验证<br>
<code>book_manager/settings.py</code></li>
</ol>
<pre><code>    MIDDLEWARE = [
        # 'django.middleware.csrf.CsrfViewMiddleware',
    ]
</code></pre>
<ol start="6">
<li>编写模板<br>
<code>front/templates/front/base.html</code></li>
</ol>
<pre><code>    &lt;!DOCTYPE html&gt;
    &lt;html lang=&quot;en&quot;&gt;
    &lt;head&gt;
        &lt;meta charset=&quot;UTF-8&quot;&gt;
        &lt;title&gt;图书管理系统&lt;/title&gt;
        &lt;link rel=&quot;stylesheet&quot; href=&quot;{% static 'front/style.css' %}&quot;&gt;
    &lt;/head&gt;
    &lt;body&gt;
        {% include 'front/header.html' %}
        {% block content %}
        {% endblock %}
    &lt;/body&gt;
    &lt;/html&gt;
</code></pre>
<pre><code>`front/templates/front/header.html`
</code></pre>
<pre><code>     &lt;header&gt;
        &lt;nav&gt;
            &lt;ul&gt;
                &lt;li&gt;&lt;a href=&quot;/&quot;&gt;首页&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;/create/&quot;&gt;新增图书&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/nav&gt;
    &lt;/header&gt;
</code></pre>
<pre><code>`front/templates/front/index.html`
</code></pre>
<pre><code>    {% extends &quot;front/base.html&quot; %}

    {% block content %}
        &lt;h1&gt;所有图书&lt;/h1&gt;
        &lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; &gt;
            &lt;thead&gt;
                &lt;tr&gt;
                    &lt;th class=&quot;table-id&quot;&gt;序号&lt;/th&gt;
                    &lt;th class=&quot;table-title&quot;&gt;书名&lt;/th&gt;
                    &lt;th class=&quot;table-author&quot;&gt;作者&lt;/th&gt;
                &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
                {% for book in books %}
                    &lt;tr&gt;
                        &lt;td class=&quot;table-id&quot;&gt;{{ forloop.counter }}&lt;/td&gt;
                        &lt;td class=&quot;table-title&quot;&gt;&lt;a href=&quot;{% url 'front:detail' book_id=book.id %}&quot;&gt;{{ book.title }}&lt;/a&gt;&lt;/td&gt;
                        &lt;td class=&quot;table-author&quot;&gt;{{ book.author }}&lt;/td&gt;
                    &lt;/tr&gt;
                {% endfor %}
            &lt;/tbody&gt;
        &lt;/table&gt;
    {% endblock %}
</code></pre>
<pre><code>`front/templates/front/create.html`
</code></pre>
<pre><code>    {% extends &quot;front/base.html&quot; %}

    {% block content %}
        &lt;h1&gt;新增图书&lt;/h1&gt;
        &lt;form action=&quot;&quot; method=&quot;post&quot; id=&quot;create-form&quot;&gt;
            &lt;p&gt;
                &lt;label for=&quot;title&quot;&gt; 书名：
                    &lt;input type=&quot;text&quot; class=&quot;input-text&quot; name=&quot;title&quot; id=&quot;title&quot; required&gt;
                &lt;/label&gt;
            &lt;/p&gt;
            &lt;p&gt;
                &lt;label for=&quot;author&quot;&gt; 作者：
                    &lt;input type=&quot;text&quot; class=&quot;input-text&quot; name=&quot;author&quot; id=&quot;author&quot; required&gt;
                &lt;/label&gt;
            &lt;/p&gt;
            &lt;p&gt;
                &lt;input type=&quot;submit&quot; value=&quot;新增图书&quot; class=&quot;default-btn&quot;&gt;
            &lt;/p&gt;
        &lt;/form&gt;
    {% endblock %}
</code></pre>
<pre><code>`front/templates/front/detail.html`
</code></pre>
<pre><code>    {% extends &quot;front/base.html&quot; %}

    {% block content %}
        &lt;h1&gt;图书详情&lt;/h1&gt;
        &lt;table cellspacing=&quot;0&quot; cellpadding=&quot;0&quot;&gt;
            {% for key, value in book.items %}
                &lt;tr&gt;
                    &lt;td class=&quot;table-id&quot;&gt;{{ key }}&lt;/td&gt;
                    &lt;td class=&quot;table-title&quot;&gt;{{ value }}&lt;/td&gt;
                &lt;/tr&gt;
            {% endfor %}
            &lt;tr&gt;
                &lt;td class=&quot;table-id&quot;&gt;&lt;button id=&quot;book-del&quot; class=&quot;small-danger-btn&quot;&gt;删除&lt;/button&gt;&lt;/td&gt;
                &lt;td class=&quot;table-title&quot;&gt;&lt;button id=&quot;book-edit&quot; class=&quot;small-default-btn&quot;&gt;编辑&lt;/button&gt;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/table&gt;

        &lt;script&gt;
            const delBtn = document.querySelector('#book-del');
            const editBtn = document.querySelector('#book-edit');

            delBtn.onclick = function() {
                window.location.href = '{% url 'front:delete' book_id=book.id %}'
            };

            editBtn.onclick = function() {
                window.location.href = '{% url 'front:edit' book_id=book.id %}'
            };
        &lt;/script&gt;
    {% endblock %}
</code></pre>
<pre><code>`front/templates/front/edit.html`
</code></pre>
<pre><code>    {% extends &quot;front/base.html&quot; %}

    {% block content %}
        &lt;h1&gt;编辑图书&lt;/h1&gt;
        &lt;form action=&quot;{% url 'front:edit' book_id=book.id %}&quot; method=&quot;post&quot; id=&quot;create-form&quot;&gt;
            &lt;p&gt;
                &lt;label for=&quot;title&quot;&gt; 书名：
                    &lt;input type=&quot;text&quot; class=&quot;input-text&quot; value=&quot;{{ book.title }}&quot; name=&quot;title&quot; id=&quot;title&quot; required&gt;
                &lt;/label&gt;
            &lt;/p&gt;
            &lt;p&gt;
                &lt;label for=&quot;author&quot;&gt; 作者：
                    &lt;input type=&quot;text&quot; class=&quot;input-text&quot; value=&quot;{{ book.author }}&quot; name=&quot;author&quot; id=&quot;author&quot; required&gt;
                &lt;/label&gt;
            &lt;/p&gt;
            &lt;p&gt;
                &lt;input type=&quot;submit&quot; value=&quot;编辑图书&quot; class=&quot;default-btn&quot;&gt;
            &lt;/p&gt;
        &lt;/form&gt;
    {% endblock %}
</code></pre>
<pre><code>`front/static/front/style.css`
</code></pre>
<pre><code>    body, ul, li, h1{
        padding: 0;
        margin: 0;
    }

    nav ul {
        list-style: none;
        height: 60px;
        background-color: #333;
    }

    nav li {
        padding: 0 10px;
        float: left;
        text-align: center;
        line-height: 60px;
    }

    nav a {
        width: 120px;
        display: block;
        height: 60px;
        font-size: 22px;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }

    nav a:hover {
        color: lightblue;
    }

    #create-form {
        width: 600px;
        height: 300px;
        background-color: #abcdef;
        margin: 15px auto;
    }

    #create-form p {
        text-align: center;
        padding-top:  25px;
    }

    .input-text {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid lightblue;
    }

    .default-btn {
        width: 150px;
        height: 50px;
        border-radius: 10px;
        color: #fff;
        background-color: lightgreen;
        line-height: 30px;
        text-align: center;
        border: 1px solid #89a1a9;
    }

    .small-default-btn {
        width: 100px;
        height: 35px;
        border-radius: 10px;
        color: #fff;
        background-color: lightgreen;
        line-height: 30px;
        text-align: center;
        border: 1px solid #89a1a9;
    }

    .small-danger-btn {
        width: 100px;
        height: 35px;
        border-radius: 10px;
        color: #fff;
        background-color: darkred;
        line-height: 30px;
        text-align: center;
        border: 1px solid #89a1a9;
    }

    table {
        margin: 25px auto;
    }

    td, th {
        border: 1px solid lightblue;
        text-align: center;
    }

    .table-id {
        width: 100px;
        height: 50px;
    }

    .table-title {
        width: 500px;
        height: 50px;
    }

    .table-author {
        width: 300px;
        height: 50px;
    }


    h1 {
        text-align: center;
        color: #333;
    }
</code></pre>

      </div>
      <div class="entry-block">
        <div class="entry-tags">
          
            <a href="https://xiong-zh.github.io/opJrPL36c/">
              Django
            </a>
          
        </div>
      </div>
    </article>
    
      <section class="post-section prev-post">
        <div class="inner">
          <h3>前一篇</h3>
          <a href="https://xiong-zh.github.io/Django创建和映射ORM模型到数据库/">
            <strong>Django创建和映射ORM模型到数据库</strong>
          </a>
        </div>
      </section>
    
    
      <section class="post-section prev-post">
        <div class="inner">
          <h3>后一篇</h3>
          <a href="https://xiong-zh.github.io/Python语法速查/">
            <strong>Python语法速查</strong>
          </a>
        </div>
      </section>
    

    
      
        <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>

<script>

  var gitalk = new Gitalk({
    clientID: '7691fdf5a3780e9bb3a4',
    clientSecret: 'f4bd6c2287489e6b24a18af94afd54efcd0f55f9',
    repo: 'xiong-zh.github.io',
    owner: 'xiong-zh',
    admin: ['xiong-zh'],
    id: (location.pathname).substring(0, 49),      // Ensure uniqueness and length less than 50
    distractionFreeMode: false  // Facebook-like distraction free mode
  })

  gitalk.render('gitalk-container')

</script>

      

      
    

    <footer class="footer">
  <div class="main">
    <a href="https://xiong-zh.github.io">
      <img class="avatar" src="https://xiong-zh.github.io/images/avatar.png?v=1586150151157" alt="zhangxiong">
    </a>
    <div class="footer__social">
      
        
          <a href="https://github.com/xiong-zh" target="_blank"><i class="remixicon-github-line"></i></a>
        
      
        
          <a href="https://twitter.com/imzhangxiong" target="_blank"><i class="remixicon-twitter-line"></i></a>
        
      
        
          <a href="https://weibo.com/zhangxiongblog" target="_blank"><i class="remixicon-weibo-line"></i></a>
        
      
        
          <a href="https://www.zhihu.com/people/yisyxi" target="_blank"><i class="remixicon-zhihu-line"></i></a>
        
      
        
          <a href="https://www.facebook.com/xiong.zh.397" target="_blank"><i class="remixicon-facebook-line"></i></a>
        
      
        
      
        
      
        
          <a href="https://www.instagram.com/imzhangxiong/" target="_blank"><i class="remixicon-instagram-line"></i></a>
        
      
        
      
        
      
    </div>
    <p class="footer__sosumi">
      <a href="http://beian.miit.gov.cn/" target="_blank">滇ICP备20001109号</a> | Copyright © 2020 <a href="https://zhangxiong.net/" target="_blank">｜zhangxiong </a> All Right Reserved.
    </p>
    <a class="footer-rss" href="https://xiong-zh.github.io/atom.xml">RSS</a>
  </div>
</footer>

<script src="https://xiong-zh.github.io/media/prism.js"></script>
<script>
  Prism.highlightAll()
</script>

  </body>
</html>
