<html>
<head>
    <meta charset="utf-8"/>
<meta name="description" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Django操作数据库原生SQL初体验 | ZhangXiong</title>
<link rel="shortcut icon" href="https://xiong-zh.github.io/favicon.ico?v=1583044307688">
<link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://xiong-zh.github.io/styles/main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/dockerfile.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/dart.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/go.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.23.0/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!-- DEMO JS -->
<script src="media/scripts/index.js"></script>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css">
</head>
<body>
<div class="main gt-bg-theme-color-first">
    <nav class="navbar navbar-expand-lg">
    <div class="navbar-brand">
        <img class="user-avatar" src="/images/avatar.png" alt="头像">
        <div class="site-name gt-c-content-color-first">
            ZhangXiong
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars gt-c-content-color-first" style="font-size: 18px"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto" style="text-align: center">
            
                <div class="nav-item">
                    
                        <a href="/" class="menu gt-a-link">
                            回到首页
                        </a>
                    
                </div>
            
                <div class="nav-item">
                    
                        <a href="/archives" class="menu gt-a-link">
                            文章归档
                        </a>
                    
                </div>
            
                <div class="nav-item">
                    
                        <a href="/tags" class="menu gt-a-link">
                            所有标签
                        </a>
                    
                </div>
            
                <div class="nav-item">
                    
                        <a href="/documents/" class="menu gt-a-link" target="_blank">
                            后端图谱
                        </a>
                    
                </div>
            
                <div class="nav-item">
                    
                        <a href="/friends/" class="menu gt-a-link">
                            友情链接
                        </a>
                    
                </div>
            
                <div class="nav-item">
                    
                        <a href="/about" class="menu gt-a-link">
                            关于
                        </a>
                    
                </div>
            
        </div>
    </div>
</nav>
    <div class="post-container">
        <div class="post-detail gt-bg-theme-color-second">
            <article class="gt-post-content">
                <h2 class="post-title">
                    Django操作数据库原生SQL初体验
                </h2>
                <div class="post-info">
                    <time class="post-time gt-c-content-color-first">
                        · 2020-01-18 ·
                    </time>
                    
                        <a href="https://xiong-zh.github.io/opJrPL36c/" class="post-tags">
                            # Django
                        </a>
                    
                </div>
                <div class="post-content">
                    <p>Django - Django 操作数据库-原生SQL初体验</p>
<!-- more -->
<h2 id="一-安装-mysqlclient">一、安装 <code>mysqlclient</code></h2>
<pre><code>pip install mysqlclient
</code></pre>
<h2 id="二-配置连接数据库">二、 配置连接数据库</h2>
<p><code>mysite/settings.py</code></p>
<pre><code>DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        # 数据库名
        'NAME': 'django_db1',
        'USER': 'root',
        'PASSWORD': '123456',
        'HOST': '127.0.0.1',
        'PORT': '3306',
    }
}
</code></pre>
<h2 id="三-使用原生-sql-操作数据库">三、使用原生 <code>sql</code> 操作数据库</h2>
<ul>
<li>
<p>使用 <code>navicat</code> 新建数据库 <code>django_db1</code></p>
</li>
<li>
<p>在数据库 <code>django_db1</code> 新建表 <code>book</code></p>
</li>
<li>
<p>新增数据：</p>
<p><code>front/views.py</code></p>
</li>
</ul>
<pre><code>from django.shortcuts import render
from django.db import connection
def index(request):
      cursor = connection.cursor()
      cursor.execute(&quot;insert into book(title,author) values('深入理解ES6', '尼古拉斯')&quot;)
      return render(request, 'front/index.html')
</code></pre>
<ul>
<li>
<p>浏览器访问： <code>localhost:8000</code>, 便会新增一条数据</p>
</li>
<li>
<p>查询数据</p>
<p><code>front/views.py</code></p>
</li>
</ul>
<pre><code>    def index(request):
    cursor = connection.cursor()
    cursor.execute(&quot;select * from book&quot;)
    # 查询一条数据
    # row = cursor.fetchone()
    # 指定查询的条数
    # rows = cursor.fetchmany(2)
    # 查询所有数据
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    return render(request, 'front/index.html')
</code></pre>
<h2 id="四-python-db-api下-cursor对象常用接口">四、<code>Python DB API</code>下 <code>cursor</code>对象，常用接口</h2>
<ul>
<li>
<p><code>description</code></p>
<p>执行 <code>cursor.execute</code>后，可通过 <code>cursor.description</code> 查看字段信息</p>
<p><code>front/views.py</code></p>
</li>
</ul>
<pre><code>    def index(request):
    cursor = connection.cursor()
    cursor.execute(&quot;select * from book&quot;)
    # (('id', 3, 1, 11, 11, 0, 0), ('title', 253, 15, 765, 765, 0, 0), ('author', 253, 12, 765, 765, 0, 0))
    print(cursor.description)
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    return render(request, 'front/index.html')
</code></pre>
<ul>
<li>
<p><code>rowcount</code></p>
<p>执行 <code>sql</code> 删除，新增，修改时，返回受影响的条数， 查询时，返回查询数据的条数</p>
<p><code>front/views.py</code></p>
</li>
</ul>
<pre><code>    def index(request):
    cursor = connection.cursor()
    cursor.execute(&quot;delete from book where id=2&quot;)
    # 1
    print(cursor.rowcount)
    return render(request, 'front/index.html')
</code></pre>
<ul>
<li>
<p><code>close</code></p>
<p>关闭游标</p>
</li>
</ul>
<pre><code>   cursor.close()
</code></pre>
<ul>
<li>
<p><code>execute</code></p>
<p>用于执行 <code>sql</code> 语句， 还可以传递参数</p>
</li>
</ul>
<pre><code> cursor.execute('select * from book where id=%s', (1,))
</code></pre>
<ul>
<li><code>fetchone</code></li>
<li><code>fetchmany</code></li>
<li><code>fetchall</code></li>
</ul>
<pre><code>    # 查询一条数据
    row = cursor.fetchone()
    # 指定查询的条数
    rows = cursor.fetchmany(2)
    # 查询所有数据
    rows = cursor.fetchall()
</code></pre>
<h2 id="五-图书管理系统案例">五、图书管理系统案例</h2>
<ul>
<li>进入虚拟环境</li>
</ul>
<pre><code>   workon myenv
</code></pre>
<ul>
<li>创建一个新的项目</li>
</ul>
<pre><code>    django-admin startproject book_manager
</code></pre>
<ul>
<li>创建 <code>front</code> 应用</li>
</ul>
<pre><code>    cd book_manager
    python manage.py startapp front
</code></pre>
<ul>
<li>配置将 <code>front</code> 应用，注册到已安装应用<br>
<code>book_manager/setting.py</code></li>
</ul>
<pre><code>    INSTALLED_APPS = [
        'front',
    ]
</code></pre>
<hr>
<ol>
<li>
<p>使用 <code>Navicat</code> 创建数据库 <code>book_manager</code></p>
</li>
<li>
<p>创建表 <code>book</code>, 三个字段： <code>id</code>、 <code>title</code>、 <code>author</code></p>
</li>
<li>
<p>配置数据库连接<br>
<code>book_manager/settings.py</code></p>
</li>
</ol>
<pre><code>    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.mysql',
            # 数据库名
            'NAME': 'book_manager',
            'USER': 'root',
            'PASSWORD': '123456',
            'HOST': '127.0.0.1',
            'PORT': '3306',
        }
    }
</code></pre>
<ol start="4">
<li>
<p>配置路由</p>
<p><code>book_manager/urls.py</code></p>
</li>
</ol>
<pre><code>    from django.urls import path, include

    urlpatterns = [
        path('', include('front.urls')),
    ]
</code></pre>
<pre><code>`front/urls.py`
</code></pre>
<pre><code>    from django.urls import path
    from . import views

    app_name = 'front'

    urlpatterns = [
        path('', views.index, name='index'),
        path('create/', views.create_book, name='create'),
        path('detail/&lt;int:book_id&gt;', views.book_detail, name='detail'),
        path('delete/&lt;int:book_id&gt;', views.book_delete, name='delete'),
        path('edit/&lt;int:book_id&gt;', views.book_edit, name='edit'),
    ]
</code></pre>
<ol start="5">
<li>
<p>编写视图函数</p>
<p><code>front/views.py</code></p>
</li>
</ol>
<pre><code>    from django.shortcuts import render, reverse, redirect
    from django.db import connection


    # 获取操作数据库锚点
    def get_cursor():
        return connection.cursor()

    # 首页，展示所有图书
    def index(request):
        cursor = get_cursor()
        cursor.execute('select * from book')
        keys = [item[0] for item in cursor.description]
        books = [dict(zip(keys, values)) for values in cursor.fetchall()]
        cursor.close()
        return render(request, 'front/index.html', context={&quot;books&quot;: books})

    # 新增图书
    def create_book(request):
        if request.method == 'POST':
            title = request.POST.get('title')
            author = request.POST.get('author')
            cursor = get_cursor()
            cursor.execute('insert into book(title, author) values(%s, %s)', (title, author))
            cursor.close()
            return redirect(reverse('front:index'))
        else:
            return render(request, 'front/create.html')

    # 图书详情
    def book_detail(request, book_id):
        cursor = get_cursor()
        cursor.execute('select * from book where id=%s', (book_id,))
        keys = [item[0] for item in cursor.description]
        book = dict(zip(keys, cursor.fetchone()))
        cursor.close()
        return render(request, 'front/detail.html', context={&quot;book&quot;: book})

    # 删除图书
    def book_delete(request, book_id):
        cursor = get_cursor()
        cursor.execute('delete from book where id=%s', (book_id,))
        cursor.close()
        return redirect(reverse('front:index'))

    # 编辑图书
    def book_edit(request, book_id):
        cursor = get_cursor()
        if request.method == 'GET':
            cursor.execute('select * from book where id=%s', (book_id,))
            keys = [item[0] for item in cursor.description]
            book = dict(zip(keys, cursor.fetchone()))
            cursor.close()
            return render(request, 'front/edit.html', context={&quot;book&quot;: book})
        else:
            title = request.POST.get('title')
            author = request.POST.get('author')
            cursor.execute('update book set title=%s, author=%s where id=%s', (title, author, book_id))
            cursor.close()
            return redirect(reverse('front:index'))
</code></pre>
<ol start="6">
<li>将 <code>static</code> 注册为模板标签<br>
<code>book_manager/settings.py</code></li>
</ol>
<pre><code>    TEMPLATES = [
        {
            'OPTIONS': {
                'builtins': [
                    'django.templatetags.static'
                ],
            },
        },
    ]
</code></pre>
<ol start="7">
<li>关闭表单 <code>csrf</code> 验证<br>
<code>book_manager/settings.py</code></li>
</ol>
<pre><code>    MIDDLEWARE = [
        # 'django.middleware.csrf.CsrfViewMiddleware',
    ]
</code></pre>
<ol start="6">
<li>编写模板<br>
<code>front/templates/front/base.html</code></li>
</ol>
<pre><code>    &lt;!DOCTYPE html&gt;
    &lt;html lang=&quot;en&quot;&gt;
    &lt;head&gt;
        &lt;meta charset=&quot;UTF-8&quot;&gt;
        &lt;title&gt;图书管理系统&lt;/title&gt;
        &lt;link rel=&quot;stylesheet&quot; href=&quot;{% static 'front/style.css' %}&quot;&gt;
    &lt;/head&gt;
    &lt;body&gt;
        {% include 'front/header.html' %}
        {% block content %}
        {% endblock %}
    &lt;/body&gt;
    &lt;/html&gt;
</code></pre>
<pre><code>`front/templates/front/header.html`
</code></pre>
<pre><code>     &lt;header&gt;
        &lt;nav&gt;
            &lt;ul&gt;
                &lt;li&gt;&lt;a href=&quot;/&quot;&gt;首页&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;/create/&quot;&gt;新增图书&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/nav&gt;
    &lt;/header&gt;
</code></pre>
<pre><code>`front/templates/front/index.html`
</code></pre>
<pre><code>    {% extends &quot;front/base.html&quot; %}

    {% block content %}
        &lt;h1&gt;所有图书&lt;/h1&gt;
        &lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; &gt;
            &lt;thead&gt;
                &lt;tr&gt;
                    &lt;th class=&quot;table-id&quot;&gt;序号&lt;/th&gt;
                    &lt;th class=&quot;table-title&quot;&gt;书名&lt;/th&gt;
                    &lt;th class=&quot;table-author&quot;&gt;作者&lt;/th&gt;
                &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
                {% for book in books %}
                    &lt;tr&gt;
                        &lt;td class=&quot;table-id&quot;&gt;{{ forloop.counter }}&lt;/td&gt;
                        &lt;td class=&quot;table-title&quot;&gt;&lt;a href=&quot;{% url 'front:detail' book_id=book.id %}&quot;&gt;{{ book.title }}&lt;/a&gt;&lt;/td&gt;
                        &lt;td class=&quot;table-author&quot;&gt;{{ book.author }}&lt;/td&gt;
                    &lt;/tr&gt;
                {% endfor %}
            &lt;/tbody&gt;
        &lt;/table&gt;
    {% endblock %}
</code></pre>
<pre><code>`front/templates/front/create.html`
</code></pre>
<pre><code>    {% extends &quot;front/base.html&quot; %}

    {% block content %}
        &lt;h1&gt;新增图书&lt;/h1&gt;
        &lt;form action=&quot;&quot; method=&quot;post&quot; id=&quot;create-form&quot;&gt;
            &lt;p&gt;
                &lt;label for=&quot;title&quot;&gt; 书名：
                    &lt;input type=&quot;text&quot; class=&quot;input-text&quot; name=&quot;title&quot; id=&quot;title&quot; required&gt;
                &lt;/label&gt;
            &lt;/p&gt;
            &lt;p&gt;
                &lt;label for=&quot;author&quot;&gt; 作者：
                    &lt;input type=&quot;text&quot; class=&quot;input-text&quot; name=&quot;author&quot; id=&quot;author&quot; required&gt;
                &lt;/label&gt;
            &lt;/p&gt;
            &lt;p&gt;
                &lt;input type=&quot;submit&quot; value=&quot;新增图书&quot; class=&quot;default-btn&quot;&gt;
            &lt;/p&gt;
        &lt;/form&gt;
    {% endblock %}
</code></pre>
<pre><code>`front/templates/front/detail.html`
</code></pre>
<pre><code>    {% extends &quot;front/base.html&quot; %}

    {% block content %}
        &lt;h1&gt;图书详情&lt;/h1&gt;
        &lt;table cellspacing=&quot;0&quot; cellpadding=&quot;0&quot;&gt;
            {% for key, value in book.items %}
                &lt;tr&gt;
                    &lt;td class=&quot;table-id&quot;&gt;{{ key }}&lt;/td&gt;
                    &lt;td class=&quot;table-title&quot;&gt;{{ value }}&lt;/td&gt;
                &lt;/tr&gt;
            {% endfor %}
            &lt;tr&gt;
                &lt;td class=&quot;table-id&quot;&gt;&lt;button id=&quot;book-del&quot; class=&quot;small-danger-btn&quot;&gt;删除&lt;/button&gt;&lt;/td&gt;
                &lt;td class=&quot;table-title&quot;&gt;&lt;button id=&quot;book-edit&quot; class=&quot;small-default-btn&quot;&gt;编辑&lt;/button&gt;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/table&gt;

        &lt;script&gt;
            const delBtn = document.querySelector('#book-del');
            const editBtn = document.querySelector('#book-edit');

            delBtn.onclick = function() {
                window.location.href = '{% url 'front:delete' book_id=book.id %}'
            };

            editBtn.onclick = function() {
                window.location.href = '{% url 'front:edit' book_id=book.id %}'
            };
        &lt;/script&gt;
    {% endblock %}
</code></pre>
<pre><code>`front/templates/front/edit.html`
</code></pre>
<pre><code>    {% extends &quot;front/base.html&quot; %}

    {% block content %}
        &lt;h1&gt;编辑图书&lt;/h1&gt;
        &lt;form action=&quot;{% url 'front:edit' book_id=book.id %}&quot; method=&quot;post&quot; id=&quot;create-form&quot;&gt;
            &lt;p&gt;
                &lt;label for=&quot;title&quot;&gt; 书名：
                    &lt;input type=&quot;text&quot; class=&quot;input-text&quot; value=&quot;{{ book.title }}&quot; name=&quot;title&quot; id=&quot;title&quot; required&gt;
                &lt;/label&gt;
            &lt;/p&gt;
            &lt;p&gt;
                &lt;label for=&quot;author&quot;&gt; 作者：
                    &lt;input type=&quot;text&quot; class=&quot;input-text&quot; value=&quot;{{ book.author }}&quot; name=&quot;author&quot; id=&quot;author&quot; required&gt;
                &lt;/label&gt;
            &lt;/p&gt;
            &lt;p&gt;
                &lt;input type=&quot;submit&quot; value=&quot;编辑图书&quot; class=&quot;default-btn&quot;&gt;
            &lt;/p&gt;
        &lt;/form&gt;
    {% endblock %}
</code></pre>
<pre><code>`front/static/front/style.css`
</code></pre>
<pre><code>    body, ul, li, h1{
        padding: 0;
        margin: 0;
    }

    nav ul {
        list-style: none;
        height: 60px;
        background-color: #333;
    }

    nav li {
        padding: 0 10px;
        float: left;
        text-align: center;
        line-height: 60px;
    }

    nav a {
        width: 120px;
        display: block;
        height: 60px;
        font-size: 22px;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }

    nav a:hover {
        color: lightblue;
    }

    #create-form {
        width: 600px;
        height: 300px;
        background-color: #abcdef;
        margin: 15px auto;
    }

    #create-form p {
        text-align: center;
        padding-top:  25px;
    }

    .input-text {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid lightblue;
    }

    .default-btn {
        width: 150px;
        height: 50px;
        border-radius: 10px;
        color: #fff;
        background-color: lightgreen;
        line-height: 30px;
        text-align: center;
        border: 1px solid #89a1a9;
    }

    .small-default-btn {
        width: 100px;
        height: 35px;
        border-radius: 10px;
        color: #fff;
        background-color: lightgreen;
        line-height: 30px;
        text-align: center;
        border: 1px solid #89a1a9;
    }

    .small-danger-btn {
        width: 100px;
        height: 35px;
        border-radius: 10px;
        color: #fff;
        background-color: darkred;
        line-height: 30px;
        text-align: center;
        border: 1px solid #89a1a9;
    }

    table {
        margin: 25px auto;
    }

    td, th {
        border: 1px solid lightblue;
        text-align: center;
    }

    .table-id {
        width: 100px;
        height: 50px;
    }

    .table-title {
        width: 500px;
        height: 50px;
    }

    .table-author {
        width: 300px;
        height: 50px;
    }


    h1 {
        text-align: center;
        color: #333;
    }
</code></pre>

                </div>
            </article>
        </div>

        
            <div class="next-post">
                <div class="next gt-c-content-color-first">下一篇</div>
                <a href="https://xiong-zh.github.io/Python语法速查/" class="post-title gt-a-link">
                    Python语法速查
                </a>
            </div>
        

        
            
                <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>

<script>

  var gitalk = new Gitalk({
    clientID: '7691fdf5a3780e9bb3a4',
    clientSecret: 'f4bd6c2287489e6b24a18af94afd54efcd0f55f9',
    repo: 'xiong-zh.github.io',
    owner: 'xiong-zh',
    admin: ['xiong-zh'],
    id: location.pathname,      // Ensure uniqueness and length less than 50
    distractionFreeMode: false  // Facebook-like distraction free mode
  })

  gitalk.render('gitalk-container')

</script>

            

            
        

        <div class="site-footer gt-c-content-color-first">
    <div class="slogan gt-c-content-color-first">当地比较有趣的一类人.</div>
    <div class="social-container">
        
            
                <a href="https://github.com/xiong-zh" target="_blank">
                    <i class="fab fa-github gt-c-content-color-first"></i>
                </a>
            
        
            
                <a href="https://twitter.com/imzhangxiong" target="_blank">
                    <i class="fab fa-twitter gt-c-content-color-first"></i>
                </a>
            
        
            
                <a href="https://weibo.com/zhangxiongblog" target="_blank">
                    <i class="fab fa-weibo gt-c-content-color-first"></i>
                </a>
            
        
            
                <a href="https://www.zhihu.com/people/yisyxi" target="_blank">
                    <i class="fab fa-zhihu gt-c-content-color-first"></i>
                </a>
            
        
            
        
            
                <a href="https://www.facebook.com/xiong.zh.397" target="_blank">
                    <i class="fab fa-facebook gt-c-content-color-first"></i>
                </a>
            
        
    </div>
    <a href="http://beian.miit.gov.cn/" target="_blank">滇ICP备20001109号</a> | Copyright © 2020 <a href="https://zhangxiong.net/" target="_blank">｜zhangxiong </a> All Right Reserved. | <a href="https://xiong-zh.github.io/atom.xml" target="_blank">RSS</a>
</div>

<script>
    hljs.initHighlightingOnLoad()
</script>


    </div>
</div>
</body>
</html>
