<html>
  <head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Django自定义模板过滤器 | ZhangXiong</title>
<link rel="shortcut icon" href="https://xiong-zh.github.io/favicon.ico?v=1582291795263">
<link href="https://cdn.remixicon.com/releases/v2.1.0/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://xiong-zh.github.io/styles/main.css">
<link rel="alternate" type="application/atom+xml" title="Django自定义模板过滤器 | ZhangXiong - Atom Feed" href="https://xiong-zh.github.io/atom.xml">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700">


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156420077-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156420077-1');
</script>


    <meta name="description" content="Django自定义模板过滤器

DTL 自定义模板过滤器
一、模板过滤器的定义


在应用的目录下，如 front 下， 新建一个名为： templatetags 的 python 包


新建 front/templatetags/cus..." />
    <meta name="keywords" content="Django" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css">
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="main-content">
        <div class="site-header">
  <a href="https://xiong-zh.github.io">
  <img class="avatar" src="https://xiong-zh.github.io/images/avatar.png?v=1582291795263" alt="">
  </a>
  <h1 class="site-title">
    ZhangXiong
  </h1>
  <p class="site-description">
    当地一个比较有趣的小法师，最近在在努力学习厉害的魔法。
  </p>
  <div class="menu-container">
    
      
        <a href="/" class="menu">
          回到首页
        </a>
      
    
      
        <a href="/archives" class="menu">
          历史归档
        </a>
      
    
      
        <a href="/tags" class="menu">
          所有标签
        </a>
      
    
      
        <a href="/documents/" class="menu" target="_blank">
          后端图谱
        </a>
      
    
      
        <a href="/about/" class="menu">
          关于｜友链
        </a>
      
    
  </div>
  <div class="social-container">
    
      
        <a href="https://github.com/xiong-zh" target="_blank">
          <i class="ri-github-line"></i>
        </a>
      
    
      
        <a href="https://twitter.com/imzhangxiong" target="_blank">
          <i class="ri-twitter-line"></i>
        </a>
      
    
      
        <a href="https://weibo.com/zhangxiongblog" target="_blank">
          <i class="ri-weibo-line"></i>
        </a>
      
    
      
        <a href="https://www.zhihu.com/people/yisyxi" target="_blank">
          <i class="ri-zhihu-line"></i>
        </a>
      
    
      
        <a href="https://www.facebook.com/xiong.zh.397" target="_blank">
          <i class="ri-facebook-line"></i>
        </a>
      
    
  </div>
</div>

        <div class="post-detail">
          <article class="post">
            <h2 class="post-title">
              Django自定义模板过滤器
            </h2>
            <div class="post-info">
              <span>
                2020-01-18
              </span>
              <span>
                4 min read
              </span>
              
                <a href="https://xiong-zh.github.io/opJrPL36c/" class="post-tag">
                  # Django
                </a>
              
            </div>
            
              <img class="post-feature-image" src="http://zhangxiong-blog-pic.test.upcdn.net/blog/img/f12.jpg" alt="">
            
            <div class="post-content-wrapper">
              <div class="post-content">
                <p>Django自定义模板过滤器</p>
<!-- more -->
<h1 id="dtl-自定义模板过滤器"><code>DTL</code> 自定义模板过滤器</h1>
<h2 id="一-模板过滤器的定义">一、模板过滤器的定义</h2>
<ul>
<li>
<p>在应用的目录下，如 <code>front</code> 下， 新建一个名为： <code>templatetags</code> 的 <code>python</code> 包</p>
</li>
<li>
<p>新建 <code>front/templatetags/custom_filter.py</code>, 并定义两个模板过滤器如下：</p>
</li>
</ul>
<pre><code>  from django import template

  register = template.Library()


  def my_add(value, arg):
      try:
          return value + arg
      except (Exception,):
          return ''


  def my_upper(value):
      try:
          return value.upper()
      except (Exception,):
          return value


  register.filter('my_add', my_add)
  register.filter('my_upper', my_upper)
</code></pre>
<ul>
<li>
<p>需要使用 <code>{% load custom_filter %}</code>, 把应用下定义模板过滤器的文件导入模板</p>
</li>
<li>
<p><code>templates/index.html</code> 代码修改如下：</p>
</li>
</ul>
<pre><code>  {% load custom_filter %}
  &lt;!DOCTYPE html&gt;
  &lt;html lang=&quot;en&quot;&gt;
  &lt;head&gt;
      &lt;meta charset=&quot;UTF-8&quot;&gt;
      &lt;title&gt;Title&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
  {#abcdef#}
  {{ &quot;abc&quot;|my_add:&quot;def&quot; }} &lt;br&gt;
  {#HELLO#}
  {{ &quot;hello&quot;|my_upper }}
  &lt;/body&gt;
  &lt;/html&gt;
</code></pre>
<ul>
<li>*<em>注意，<code>front</code> 应用必须在 <code>mysite/settings.py</code> 进行注册，在 <code>front</code> 下定义的模板过滤器才能起作用</em></li>
</ul>
<pre><code>  INSTALLED_APPS = [
      'front',
  ]
</code></pre>
<h2 id="二-实战-自定义时间计算过滤器">二、实战--自定义时间计算过滤器</h2>
<p><code>front/templatetags/custom_filter.py</code></p>
<pre><code>from django import template
from datetime import datetime

register = template.Library()


@register.filter
def time_since(value):
    &quot;&quot;&quot;
    time距离现在的时间间隔
    1 如果时间间隔小于1分钟，那么显示 刚刚
    2 如果时间间隔大于1分钟小于1小时， 那么显示 xx 分钟前
    3 如果是大于1小时小于24小时，那么显示 xx 小时前
    4 如果大于24小时，小于30天， 那么显示 xx 天前
    5 否则显示具体时间， 2018/12/10 23:05
    &quot;&quot;&quot;
    if not isinstance(value, datetime):
        return value
    now = datetime.now()
    timestamp = (now - value).total_seconds()
    if timestamp &lt; 60:
        return '刚刚'
    elif 60 &lt;= timestamp &lt; 60 * 60:
        minutes = int(timestamp/60)
        return '%s分钟前' % minutes
    elif 60 * 60 &lt;= timestamp &lt; 60 * 60 * 24:
        hour = int(timestamp / (60 * 60))
        return '%s 小时前' % hour
    elif 60 * 60 * 24 &lt;= timestamp &lt; 60 * 60 * 24 * 30:
        days = int(timestamp / (60 * 60 * 24))
        return '%s 天前' % days
    else:
        return value.strftime(&quot;%Y/%m/%d %H:%M&quot;)
</code></pre>
<p><code>front/views.py</code></p>
<pre><code>from django.shortcuts import render
from datetime import datetime


def index(request):
    context = {
        'my_time_1': datetime.now(),
        'my_time_2': datetime(year=2018, month=12, day=10, hour=23, minute=18),
        'my_time_3': datetime(year=2018, month=12, day=10, hour=18, minute=18),
        'my_time_4': datetime(year=2018, month=12, day=1, hour=22, minute=18),
        'my_time_5': datetime(year=2017, month=12, day=10, hour=23, minute=18),
    }
    return render(request, 'index.html', context=context)
</code></pre>
<p><code>templates/index.html</code></p>
<pre><code>{% load custom_filter %}
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;Title&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
{#刚刚 #}
{{ my_time_1|time_since }} &lt;br&gt;
{#7分钟前 #}
{{ my_time_2|time_since }} &lt;br&gt;
{#5 小时前 #}
{{ my_time_3|time_since }} &lt;br&gt;
{#9 天前 #}
{{ my_time_4|time_since }} &lt;br&gt;
{#2017/12/10 23:18#}
{{ my_time_5|time_since }}
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

              </div>
              <div class="toc-container">
                <ul class="markdownIt-TOC">
<li><a href="#dtl-%E8%87%AA%E5%AE%9A%E4%B9%89%E6%A8%A1%E6%9D%BF%E8%BF%87%E6%BB%A4%E5%99%A8"><code>DTL</code> 自定义模板过滤器</a>
<ul>
<li><a href="#%E4%B8%80-%E6%A8%A1%E6%9D%BF%E8%BF%87%E6%BB%A4%E5%99%A8%E7%9A%84%E5%AE%9A%E4%B9%89">一、模板过滤器的定义</a></li>
<li><a href="#%E4%BA%8C-%E5%AE%9E%E6%88%98-%E8%87%AA%E5%AE%9A%E4%B9%89%E6%97%B6%E9%97%B4%E8%AE%A1%E7%AE%97%E8%BF%87%E6%BB%A4%E5%99%A8">二、实战--自定义时间计算过滤器</a></li>
</ul>
</li>
</ul>

              </div>
            </div>
          </article>
        </div>

        
          <div class="next-post">
            <div class="next">下一篇</div>
            <a href="https://xiong-zh.github.io/Django模板过滤器详解/">
              <h3 class="post-title">
                Django模板过滤器详解
              </h3>
            </a>
          </div>
        

        
          
            <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>

<script>

  var gitalk = new Gitalk({
    clientID: '7691fdf5a3780e9bb3a4',
    clientSecret: 'f4bd6c2287489e6b24a18af94afd54efcd0f55f9',
    repo: 'xiong-zh.github.io',
    owner: 'xiong-zh',
    admin: ['xiong-zh'],
    id: (location.pathname).substring(0, 49),      // Ensure uniqueness and length less than 50
    distractionFreeMode: false  // Facebook-like distraction free mode
  })

  gitalk.render('gitalk-container')

</script>

          

          
        

        <div class="site-footer">
  <a href="http://beian.miit.gov.cn/" target="_blank">滇ICP备20001109号</a> | Copyright © 2020 <a href="https://zhangxiong.net/" target="_blank">｜zhangxiong </a> 版权所有
  <a class="rss" href="https://xiong-zh.github.io/atom.xml" target="_blank">
    <i class="ri-rss-line"></i> RSS
  </a>
</div>

      </div>
    </div>

    <script>
      hljs.initHighlightingOnLoad()

      let mainNavLinks = document.querySelectorAll(".markdownIt-TOC a");

      // This should probably be throttled.
      // Especially because it triggers during smooth scrolling.
      // https://lodash.com/docs/4.17.10#throttle
      // You could do like...
      // window.addEventListener("scroll", () => {
      //    _.throttle(doThatStuff, 100);
      // });
      // Only not doing it here to keep this Pen dependency-free.

      window.addEventListener("scroll", event => {
        let fromTop = window.scrollY;

        mainNavLinks.forEach((link, index) => {
          let section = document.getElementById(decodeURI(link.hash).substring(1));
          let nextSection = null
          if (mainNavLinks[index + 1]) {
            nextSection = document.getElementById(decodeURI(mainNavLinks[index + 1].hash).substring(1));
          }
          if (section.offsetTop <= fromTop) {
            if (nextSection) {
              if (nextSection.offsetTop > fromTop) {
                link.classList.add("current");
              } else {
                link.classList.remove("current");    
              }
            } else {
              link.classList.add("current");
            }
          } else {
            link.classList.remove("current");
          }
        });
      });

    </script>
  </body>
</html>
